<div class="noprint">
<a title="FaceBook" href="{{ (configData | async)?.footer_fblink }}" target="_blank" rel="noopener" *ngIf="(configData | async)?.footer_fblink">
  <mat-icon matTooltip="connect with FaceBook" class="circle-link example-icon-link" svgIcon="facebook"></mat-icon>
</a>
<a title="GitHub" href="{{ (configData | async)?.footer_github }}" target="_blank" rel="noopener" *ngIf="(configData | async)?.footer_github">
  <mat-icon matTooltip="connect with GitHub" class="circle-link example-icon-link" svgIcon="github"></mat-icon>
</a>
<a title="LinkedIn" href="{{ (configData | async)?.footer_linkedin }}" target="_blank" rel="noopener" *ngIf="(configData | async)?.footer_linkedin">
  <mat-icon matTooltip="connect with LinkedIn" class="circle-link example-icon-link" svgIcon="linkedin"></mat-icon>
</a>
<a title="Twitter" href="{{ (configData | async)?.footer_twitter }}" target="_blank" rel="noopener" *ngIf="(configData | async)?.footer_twitter">
  <mat-icon matTooltip="connect with Twitter" class="circle-link example-icon-link" svgIcon="twitter"></mat-icon>
</a>
<br/>
  <!-- Footer -->
  <span class="example-icon" *ngIf="(configData | async)?.footer_copyright">
      {{ (configData | async)?.footer_copyright}}
      <a href="{{ (configData | async)?.footer_website }}" target="_blank" rel="noopener">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2"/><path d="M0 0h24v24H0z" fill="none"/></svg>
      </a>
    </span>
  </div>