<app-header pageTitle="Admin" imageUrl="lock" helpType="login"></app-header>
<mat-card class="example-card" [@fallIn]='state'>
  <mat-card-content>
    <mat-card class="example-card-fixed">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="example-icon">VMS Cloud</mat-card-title>
        <mat-card-subtitle>elishconsulting.com</mat-card-subtitle>
      </mat-card-header>
      <mat-progress-bar mode="indeterminate" *ngIf="dataLoading"></mat-progress-bar>
      <mat-error *ngIf="IBData.error">Admin code is not verified. Error: {{ IBData.statusMessage }}</mat-error>
      <mat-card-content *ngIf="isAdmin else showLogin">
        <mat-card-subtitle>Your app is up and running.</mat-card-subtitle>
        <button type="button" routerLink="/config" mat-raised-button color="primary">Click here to access Admin Panel</button>
        <br /><br /><br /><br />
        <button type="button" (click)="logout()" mat-raised-button color="primary">Logout Admin</button>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>

<ng-template #showLogin>
  <mat-divider></mat-divider>
  <form #formData="ngForm" (ngSubmit)="loginWithCode(formData.value)" class="example-form">
    <mat-card-actions align="start">
      <button type="submit" [disabled]="!formData.valid" mat-raised-button color="primary">Admin Log in</button>
    </mat-card-actions>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="authcode" name="authcode" #authcode="ngModel" ngModel required minlength="5">
    </mat-form-field>
    <br>
    <mat-error *ngIf="authcode.invalid && (authcode.dirty || authcode.touched)">Please enter a valid authcode.</mat-error>
  </form>
</ng-template>
